whatsapp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:element name="whatsapp">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="discussions" type="discussionsType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:complexType name="discussionsType">
    <xs:sequence>
      <xs:element name="contacts" type="contactsType"/>
      <xs:element name="groupes" type="groupesType"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="contactsType">
    <xs:sequence>
      <xs:element name="contact" type="contactType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="contactType">
    <xs:sequence>
      <xs:element name="nom" type="xs:string"/>
      <xs:element name="prenom" type="xs:string"/>
      <xs:element name="numero_telephone" type="xs:string"/>
      <xs:element name="photo_profile" type="xs:string"/>
      <xs:element name="status" type="xs:string"/>
      <xs:element name="messages" type="messagesType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"/>
  </xs:complexType>
  
  <xs:complexType name="messagesType">
    <xs:sequence>
      <xs:element name="message" type="messageType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="messageType">
    <xs:sequence>
      <xs:element name="contenu" type="xs:string"/>
      <xs:element name="cite" minOccurs="0">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="ref" type="xs:IDREF"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="tag" type="xs:string" minOccurs="0"/>
      <xs:element name="message_info" type="messageInfoType"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"/>
    <xs:attribute name="type" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="texte"/>
          <xs:enumeration value="vocal"/>
          <xs:enumeration value="fichier"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="expediteur" type="xs:IDREF" use="required"/>
    <xs:attribute name="destinataire" type="xs:IDREF"/>
  </xs:complexType>
  
  <xs:complexType name="messageInfoType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="heure" type="xs:dateTime" use="required"/>
        <xs:attribute name="statut" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  
  <xs:complexType name="groupesType">
    <xs:sequence>
      <xs:element name="groupe" type="groupeType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="groupeType">
    <xs:sequence>
      <xs:element name="nom_groupe" type="xs:string"/>
      <xs:element name="photo_groupe" type="xs:string"/>
      <xs:element name="membres" type="membresType"/>
      <xs:element name="admin">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="ref" type="xs:IDREF" use="required"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="messages" type="messagesType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"/>
  </xs:complexType>
  
  <xs:complexType name="membresType">
    <xs:sequence>
      <xs:element name="membre" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="ref" type="xs:IDREF" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>
